body {
	background-color: peru;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*height: 100vh;*/
	color: white;
	font-family: Arial;
}


h1 {
	font-size: 40px;
}


.canasta {
	border: 1px solid blue;
	position: relative;
	height: 300px;
	width: 100%;
	transform: rotate(5deg) skew(10deg) translate(30px) scale(.8);


}

.canasta:hover .pelota.a {
	left: calc(50% - 100px);
}


.canasta:hover .pelota.b {
	right: calc(50% - 100px);
}


.pelota {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	/*background-color: red;*/
	/*transition-property: width,height;*/
	/*transition-duration: 1s;*/
	/*transition-delay: 1s;*/
	/*transition-timing-function: ease;*/
	transition: 1s;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.pelota.a {
	background: red;
	left: 0;
}

.pelota.b {
	background: blue;
	right: 0;

}


/*.pelota:hover {
	width: 200px;
	height: 200px;
}	*/

.container {
	border: 1px solid red;

}

.container:hover .cuadrado {
	/*transform: rotate(-45deg);*/
	/*transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);*/
	transform: rotate3d(1,1,1,-45deg);
}

.cuadrado {
	width: 200px;
	height: 200px; 
	background: #7dc900;
	margin: 20px;
	transition:.3s;

}

.container.p {
	perspective: 200px;
	/*perspective-origin: top;*/
	/*perspective-origin: bottom;*/
	/*perspective-origin: left;*/
	/*perspective-origin: top left;*/
	perspective-origin: center;
}

.container.p:hover .cuadrado.a {
	/*transform: translate(100px);*/
	/*transform: translate(-100px);*/
	/*transform: translate(100px, -100px);*/
	/*transform: translate3d(-100px, -100px, 100px);*/
	transform: translateZ(100px);
}	


.cuadrado.a{
	transition:.3s;
}


.container.s:hover .cuadrado.b {
	transform: scale(2,.5);
}

.cuadrado.b {
	transition:1s;
}


.container.sk:hover .cuadrado.c {
	transform: skew(10deg, 10deg);
}

.cuadrado.c {
	transition:1s;
}


.container.o {
	perspective: 200px;
}

.container.o:hover .cuadrado.d{


	transform: rotateX(45deg);
	/*transform-origin: x y;*/
	/*transform-origin: 50% 50% DEFAULT*/
	transform-origin: top;
	/*transform-origin: bottom;*/

	/*transform:rotateY(45deg);
	transform-origin: left;*/

	/*transform: rotateZ(-45deg);*/

	/*transform-origin: left top;
	*/
	/*transform-origin: right top;	*/



}

.container.an {
	width: 100%;
}


.container.an:hover .cuadrado.e{
	transition: none;
	transform: none;
	animation-name: cuadrado;
	animation-duration: 2s;
	/*animation-delay: 1s;*/
	/*animation-iteration-count: 2;*/
	animation-iteration-count: infinite;

	/*animation-timing-function: ease;*/
	/*animation-timing-function: ease-in;*/
	/*animation-timing-function: ease-out;*/
	/*animation-timing-function: ease-in-out;*/
	/*animation-timing-function: linear;	*/
	animation-timing-function: cubic-bezier(.57,-0.15,.56,1.11);
	/*animation-direction: reverse;*/
	/*animation-timing-function: steps(6);*/
	animation-direction: alternate;

	/*Para que no regrese a valor inicial*/
	/*animation-fill-mode:forwards;*/

	/*estado de la animacion*/
	/*animation-play-state: paused;*/
	/*position: relative;*/



}

.cuadrado.e{
	border-radius: 50%;
	position: relative;
	
}

.container-2 {
	border: 1px solid red;
	width: 100%;
}

.cuadrado-2 {
	width: 200px;
	height: 200px; 
	background: #7dc900;
	border-radius: 50%;
	margin: 20px;
	transition:.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}




.container-2:hover .cuadrado-2{
	animation-name:cuadrado, rebote;
	animation-duration: 3s, 300ms;
	animation-iteration-count: infinite, 20;
	animation-direction: alternate;
	animation-timing-function: linear, ease-in-out;

}

.cuadrado.w {
	transition: 2s;
	opacity: 0;
	will-change:opacity, transform;
}

.cuadrado.w:hover {
	opacity: 1;
	background: red;
	transform: scale(1.1);
}





@keyframes cuadrado {

	0%{
		/*opacity: 1;*/
		left: 0;
	}

	100%{
		/*opacity: 0;*/
		left:calc(100% - 240px);
	}
}

@keyframes rebote {
	from {
		transform: translateY(19px);
	}

	to {
		transform: translateY(-100px) scale(1, .8);


	}
}

@keyframes escalera {
	from{
		transform:translateY(0);
	}

	to {
		transform:translateY(500px);

	}
}